@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

body {
	font-family: 'PT Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #6610f2;
	color: white;
}
#app {
	margin: 0;
}

.container {
	display: grid;
	height: 100ch;
	width: inherit;
	max-width: inherit;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 5% 20% 25% 25% 25%;
	/* grid-template-areas:
		'header header header header'
		'main main . sidebar'
		'main main . sidebar'
		'footer footer footer footer'; */
	/* justify-content: center;
	align-content: center; */
	margin: 0;
}

.topnav {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;

	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	display: grid;
	grid-template-columns: 25% 50% 25%;
}

.topnav a {
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topnav a:hover {
	background-color: rgb(169, 206, 255);
	color: black;
}

.root {
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 5;
}

.greeting {
	text-align: center;
}

.dashboard {
	display: grid;
	/* width: 100vw; */
	height: auto;
	grid-template-columns: [first] 5% [line2] 35% [line3] 20% [line4] 20% [five] 20% [end];
	/* grid-template-columns: 20% 20% 20% 20% 20%; */
	/* grid-template-rows: 25% 50% 25%; */
	grid-template-rows: [row1-start] 25% [row1-end] 50% [third-line] 25% [last-line];
	grid-auto-flow: row;
	grid-gap: 10px;
}
/* 
As the short-shorthand for grid-row-start + grid-column-start + grid-row-end + grid-column-end: */
.sidebar {
	grid-area: row1-start / five / last-line / end;
	background-color: #333;
	/* border-right: 1px solid gray; */
	text-align: center;
	padding: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 10px 0px -5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 10px 0px -5px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 10px 0px -5px rgba(0, 0, 0, 0.3);
	width: 10vw;
}

.sidebar img {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 9vw;
}

.sidebar section {
	text-align: left;
	padding: 10px;
}

.sidebar a {
	transition: border 0.2s ease;
	cursor: pointer;
}

.sidebar a:hover {
	border-bottom: 2px solid #00aaaa;
}

.graph {
	grid-area: row1-start / line2 / last-line / five;
}

.graphContainer {
	width: inherit;
	max-width: 90vw;
	position: relative;
	background: white;
	padding: 30px 20px 10px 20px;
	border-radius: 0px 0px 10px 10px;
	-webkit-box-shadow: 0px 10px 0px -5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 10px 0px -5px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 10px 0px -5px rgba(0, 0, 0, 0.3);
}

canvas {
	width: inherit;
	max-width: 90vw;
	height: auto;
	position: inherit;
}

@media only screen and (max-width: 600px) {
	.graphContainer {
		width: 70vw;
	}
}

.neighborhoods {
	display: flex;
	flex-direction: column;
}

.neighborhoods a {
	font-size: fit-width;
}

.charttabs {
	display: flex;
	justify-content: space-around;
}

.charttabs button {
	align-self: stretch;
	align-items: stretch;
	flex: 1 100%;
	border-radius: 10px 10px 0px 0px;
}

.charttabs .filter {
	align-self: stretch;
	align-items: stretch;
	flex: 1 100%;
}

.filterComponent {
	position: absolute;

	top: 1%;
	right: 1%;
	width: 97%;
	height: 96%;
	border: 3px solid #f1f1f1;
	z-index: 9;
	color: black;
	background-color: white;
}

.slidecontainer {
	display: flex;
	width: -webkit-fill-available;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.box-minmax {
	width: -webkit-fill-available;
	display: flex;
	justify-content: space-between;
	font-size: 10px;
	color: black;
}

.slider {
	width: -webkit-fill-available;
}
.box-mimaxspan span:first-child {
	margin-left: 10px;
}

.datecontainer {
	display: flex;

	flex-direction: row;
	align-items: center;
	justify-content: left;
}

.start {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.end {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
